@media (max-width: 1024px) {

    .form__input,
    .form__select {
        width: 100%;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__left {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {

    .header .header__btn {
        padding: 10px 21px;
        margin-right: 7px;
    }

    .header__nav {
        display: none;
    }

    .burger {
        position: relative;
        display: block;
        height: 39px;
        width: 40px;
        outline: 1px solid currentColor;
        border-radius: 3px;
        color: #3172B9;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 13px;
    }

    .burger__line:nth-child(3) {
        bottom: 13px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .hero__content {
        width: 75%;
    }

    .services__list {
        flex-wrap: wrap;
    }

    .services__item:not(:nth-child(4n)) {
        margin-right: 0;
    }

    .services__item {
        margin-bottom: var(--gap);
        width: calc((100% - (var(--gap))) / 2);
    }

    .services__item:not(:nth-child(2n)) {
        margin-right: var(--gap);
    }

    .preview {
        height: 100%;
    }

    .clients__item {
        padding: 50px 20px;
    }

    .form {
        padding: 0;
    }

    .contacts__list {
        justify-content: space-between;
        align-items: center;
    }

    .contacts__item {
        margin-right: 10%;
        margin-bottom: var(--gap);

    }

    .contacts__icon-phone {
        margin-right: 10%;
    }


}

@media (max-width: 768px) {

    .preview__link {
        flex-direction: column;
    }

    .clients__list {
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .clients__item:not(:nth-child(3n)) {
        margin-right: var(--gap);
    }

    .clients__item {
        width: calc((100% - (var(--gap))) / 2);
        margin-bottom: var(--gap);
    }

    .footer .nav__item:not(:last-child) {
        margin-right: 18px;
    }

    .header-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #787878;
    }
}


@media (max-width: 576px) {

    .section-offset {
        padding: 60px 0;

    }

    .header {
        padding: 16px 1px;
    }

    .header__logo img {
        width: 80px;
    }

    .header .btn {

        padding: 11px 21px;
    }

    .hero {
        padding: 30px 0;
        background-image: none;
    }

    .hero__content {
        width: 100%;
    }

    .hero__title,
    .section-title {
        margin-bottom: 15px;

    }

    .hero__descr {
        margin-bottom: 16px;
    }

    .hero__wrapper {
        width: 100%;
    }

    .hero__btn {
        width: 100%;
    }


    .services {
        padding: 30px 0;
        padding-bottom: 39px;
    }

    .services__title,
    .services__descr {
        text-align: left;
    }

    .services__descr {
        margin-bottom: var(--gap-mob);
    }

    .services__item:not(:nth-child(2n)) {
        margin-right: var(--gap-mob);
    }

    .services__item {

        width: calc((100% - (var(--gap-mob))) / 2);
        min-height: 222px;
        padding: var(--gap-mob);
        margin-bottom: 20px;
    }

    .services__item-title {
        font-size: 16px;
        margin-bottom: 3px;

    }

    .services__item-descr {
        font-size: 12px;
    }

    .services__item:nth-child(2) .services__item-icon {
        width: 56px;
    }

    .services__item-icon {
        width: 42px;
        height: 42px;
        margin-bottom: var(--gap-mob);
    }

    .articles {
        padding-bottom: 45px;
    }

    .articles__item {
        width: 100%;
        height: 191px;
        margin-right: 0;
        margin-bottom: var(--gap-mob);
    }

    .articles__item:not(:nth-child(2n)) {
        margin-right: 0;
    }

    .preview__link {
        flex-direction: row;
    }

    .preview__time,
    .preview__title {
        margin-bottom: 3px;
    }

    .preview__image {
        width: 30%;
    }

    .preview__text {
        padding: 30px 30px 30px 14px;
    }

    .articles__item:nth-child(3) .preview__text {
        padding: 17px 30px 17px 14px;
    }

    .clients {
        padding-bottom: 42px;
    }

    .clients__item {
        width: 100%;
        padding: 20px 19px;
    }

    .clients__item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .clients__item {
        min-height: 174px;
        width: 100%;
        padding: 19px 18px;
        margin-bottom: var(--gap-mob);
    }

    .clients__user {
        margin-top: 0;
        padding-top: 29px;
    }

    .contacts {
        padding-bottom: 64px;
    }

    .contacts__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts .contacts__item {
        padding-top: 47px;
        margin-right: 0;
    }

    .contacts__item:last-child {
        margin-bottom: 0;
    }

    .contacts__item-caption {
        margin-bottom: 19px;
    }

    .contacts__item:nth-child(2) {
        padding-top: 45px;
        margin-bottom: 36px;
    }

    .contacts__item-link:not(:last-child) {
        margin-bottom: 10px;

    }

    .join-us {}

    .join-us__title {
        text-align: left;
    }

    .join-us__descr {
        display: none;
    }

    .join-us__descr-mob {
        display: block;
        word-spacing: 0.4px;
        text-align: left;
        margin-bottom: 16px;
    }

    .form__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

    }

    .form__left,
    .form__right {
        width: 100%;
    }

    .form__input,
    .form__left {
        margin-bottom: var(--gap-mob);
    }

    .form__input,
    .form__select,
    .form__textarea {
        padding: 19px;
    }

    .form__select {
        padding-left: 16px;
    }

    .form__textarea {
        min-height: 240px;
        padding-top: 16px;
    }

    .form__wrapper,
    .form__btn {
        width: 100%;
    }

    .form__btn {
        min-height: 60px;
        margin-bottom: 15px;
    }

    .form__check {
        display: flex;
        font-weight: 400;
        font-size: 12px;
    }

    .form__check-box {
        margin-right: 8px;
    }

    .footer {
        position: relative;
        padding: 32px 0 15px;
    }

    .footer__container {
        flex-direction: column-reverse;

    }

    .footer__right {
        flex-wrap: wrap;
    }

    .footer .nav__list {
        flex-wrap: wrap;
        margin-bottom: 12px;
    }

    .footer__social-list,
    .footer__logo-link {
        margin-bottom: 28px;
    }



    .footer__left {
        width: 100%;
        margin-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__copy {
        padding-top: 15px;
        text-align: center;
        width: 100%;

    }

    .footer__divader {
        display: block;
        position: absolute;
        bottom: 46px;
        width: 100%;
        height: 1px;
        background: #C4C4C4;
    }

    .header-link {
        font-size: 15px;
        line-height: 20px;

    }

    .footer__nav {
        margin-right: 0;
    }

    .footer__logo-link {
        width: 80px;
    }

    .footer .nav__item {
        margin-bottom: var(--gap-mob);
    }

    .footer .nav__item:not(:last-child) {
        margin-right: 32px;
    }

    .footer__social-item:not(:last-child) {
        margin-right: 33px;
    }

    .footer__social-item:nth-child(1) .footer__social-link-icon {
        width: 18px;
        height: 14px;

    }

    .footer__social-item:nth-child(2) .footer__social-link-icon {
        width: 17px;
        height: 16px;

    }

    .footer__social-item:nth-child(3) .footer__social-link-icon {
        width: 24px;
        height: 18px;

    }



}